@import "../../../../constants/colors";

.chat-wrapper {
  display: flex;
  background: rgba(173, 216, 230, 0.2);
  box-shadow: 6px 6px 30px rgba(173, 216, 230, 0.6);
  .rooms-list-wrapper {
    width: 25%;
    height: 100%;
    .room {
      display: flex;
      align-items: center;
      margin: 1rem;
      .avatar-wrapper {
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $SLATE_GREY;
        img {
          width: 100%;
          height: 100%;
        }
      }
      p {
        color: $DARK_SLATE_BLUE;
        font-size: 1.3rem;
        margin-bottom: 0;
        margin-left: 1rem;
      }
    }
  }
  app-chat-room {
    width: 75%;
    height: 100%;
  }
}
