<h1 class="page-title">Sing In</h1>
<div class="form-wrapper" (ngSubmit)="authUser()">
  <!-- /.page-title -->
  <form
    class="form-group mb-5"
    [formGroup]="loginForm"
  >
    <div class="input-group ">
      <input id="email"
             class="form-control"
             type="text"
             formControlName="email"
             placeholder="Enter your username"
             autocomplete="off"
      >
    </div>
    <div class="input-group">
      <input
        id="password"
        class="form-control"
        type="password"
        formControlName="password"
        placeholder="Enter your password"
        autocomplete="off"
      >
    </div>
    <div class="input-group input-group__buttons">
      <button
        id="login-button"
        class="btn btn-primary"
        (click)="authUser()"
      >Login
      </button>
      <button
        class="btn btn-primary"
        (click)="authService.logInAuthGoogle()"
      >Login with socials
      </button>
    </div>
  </form>
</div>
<p> {{authService.user.login | async}}</p>
<!-- /.input-wrapper -->

